/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: minecraft;
	src: url('/minecraft-subtitles.woff2') format('woff2'),
		url('/minecraft-subtitles.woff') format('woff');
}
